/* app.css */

/* Tailwind CSS base, componentes y utilidades */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos personalizados */
[x-cloak] {
    display: none;
}

/* Agrega tus estilos personalizados aquí */
/* Por ejemplo: */
/* Estilos para la tabla */
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

/* Estilos para los botones */
.button {
    display: inline-block;
    background-color: #4CAF50;
    border: none;
    color: black;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

.button:hover {
    background-color: #45a049;
}
body {
    background-color: #db80df; /* Color de fondo del cuerpo */
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #4a90e2; /* Color de fondo del encabezado */
    color: black;
    padding: 10px 0;
    text-align: center;
}

.form-container {
    max-width: 400px;
    margin: 20px auto; /* Añadido un espacio adicional desde arriba */
    padding: 20px;
    border-radius: 8px;
    background-color: #a639d8; /* Color de fondo del formulario */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.form-input {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #cbd5e0;
    margin-bottom: 15px;
    transition: border-color 0.3s ease;
}

.form-input:focus {
    border-color: #4a90e2;
    outline: none;
}

.form-label {
    font-size: 1rem;
    color: #4a5568;
    font-weight: bold;
    margin-bottom: 8px;
    display: block;
}

.btn-submit {
    background-color: #4a90e2; /* Cambiado el color del botón */
    color:black;
    padding: 12px 20px;
    border: none; /* Eliminado el borde */
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: block; /* Hacer que el botón sea un elemento de bloque */
    width: 100%; /* Ajustar el ancho al 100% del contenedor */
}

.btn-submit:hover {
    background-color: #1ee2d2;
}


